root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP (Laravel)
[*.php]
indent_style = space
indent_size = 4

# Vue + JS
[*.{js,vue}]
indent_style = space
indent_size = 2

# JSON, YAML
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2